<p id="notice"><%= notice %></p>

<h1>Listing Hunts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Steal</th>
      <th>Strategy</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hunts.each do |hunt| %>
      <tr>
        <td><%= hunt.name %></td>
        <td><%= hunt.steal %></td>
        <td><%= hunt.strategy %></td>
        <td><%= hunt.level %></td>
        <td><%= link_to 'Show', hunt %></td>
        <td><%= link_to 'Edit', edit_hunt_path(hunt) %></td>
        <td><%= link_to 'Destroy', hunt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hunt', new_hunt_path %>
